extends page

block config-content

    h2.page-header= `Project: ${project.id}`

    form(method="POST")
        .form-group
            label(for='repo') Git Repository
            input#repo.form-control(type='text', name='repo', placeholder='e.g. git@github.com:mkdocs/mkdocs.git', value=project.repo, required)

        hr

        button.btn.btn-command.btn-primary(type="submit" name="action" value="update") Save Changes
        =" "
        a.btn.btn-command.btn-default(href="/$config/projects") Cancel
        div.pull-right
            button.btn.btn-warning(type="submit" name="action" value="reset") Reset Project
            =" "
            button.btn.btn-danger(type="submit" name="action" value="delete") Delete Project

    table.table
        tbody
            tr
                th.shrink Status
                td= project.statusLabel
            if project.mkdocsConfig
                tr
                    th.shrink MkDocs
                    td
                        dl.dl-horizontal
                            each prop in ["site_name", "site_author", "site_description"]
                                dt= `${prop}:`
                                dd= project.mkdocsConfig[prop]
            if project.activity
                tr
                    th.shrink Activity
                    td= project.activityLabel
            if project.error
                tr
                    th.shrink Error
                    td
                        div
                            b=project.error.message
                        pre=project.error.log

